/* Login.css */

/* Container Styles */
.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .wrapper {
    width: 100%;
    max-width: 470px;
    background: #fff;
    padding: 50px 60px;
    text-align: center;
    border: 2px solid #2E8B57; /* Border Color */
    border-radius: 10px; /* Rounded Corners */
  }
  
  .wrapper h1 {
    font-size: 30px;
    color: #2E8B57; /* Heading Color */
    margin-bottom: 40px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-box {
    background: #eaeaea; /* Light Gray Background */
    margin: 15px 0;
    border-radius: 3px; /* Rounded Corners */
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .input-box input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px;
  }
  
  .input-box i {
    font-size: 20px;
    color: #999;
    margin-left: 10px;
  }
  
  form p {
    font-size: 13px;
  }
  
  form p a {
    text-decoration: none;
    color: #3c00a0; /* Link Color */
  }
  
  .loginButton {
    width: 100%;
    height: 45px;
    background: #2E8B57; /* Button Background */
    border: 2px solid #2E8B57; /* Button Border */
    border-radius: 40px; /* Rounded Corners */
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-decoration: none; /* Remove underline */
  }
  
  .loginButton:hover {
    background: black; /* Darker Background on Hover */
    color: white;
    border-color: black; /* Darker Border on Hover */
  }
  
  .registration {
    margin-top: 20px;
  }
  
  .registration p {
    margin-bottom: 10px;
  }
  
  .registration .loginButton {
    background: transparent;
    border: 2px solid #2E8B57; /* Button Border */
    color: #2E8B57; /* Button Text Color */
    text-decoration: none;
    font-weight: 600;
  }
  
  .registration .loginButton:hover {
    background: #2E8B57; /* Background Color on Hover */
    color: white;
  }
  