/* AddShopOwner.css */
.add-shopowner-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-shopowner-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .add-shopowner-container h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .shop-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .shop-item {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s;
  }
  
  
  .shop-item h3 {
    margin: 0;
    font-size: 20px;
  }
  
  .shop-item p {
    margin: 5px 0;
    color: #666;
  }
  
  .shop-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    width:20%;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .shop-item button:hover {
    background-color: #0056b3;
  }
  