/* Shoplist.css */

.shops-list {
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 60px;
  background-color: #f4f4f4; /* Lighter background for better contrast */
  text-align: center;
}

.shops-list h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

.shop-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slightly increased shadow for better visual separation */
  transition: transform 0.3s ease; /* Smooth animation on hover */
}

.shop-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
  flex-shrink: 0;
}

.shop-info {
  flex: 1;
  text-align: left;
}

.shop-info h2 {
  font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.shop-info p {
  font-size: 1.2rem;
  margin: 5px 0;
  color: #666;
}

button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d35400;
}

/* Responsive Design */
@media (max-width: 768px) {
  .shop-item {
    flex-direction: column;
    text-align: center;
  }

  .shop-image {
    margin-bottom: 10px;
  }

  .shop-info {
    text-align: center;
  }
}
